@import "../../styles/variables.scss";

.container {
  display: inline-block;
  width: 20em;
  height: 380vh;
  padding: var(--page-shell-padding);
  font-family: $pitch;
  color: black;
  background-color: black;
  @media (max-device-width: 375px) {
    width: 100%;
    height: auto;
    display: flex;
    align-content: center;
    text-align: center;
  }
  @media (max-device-width: 1024px) {
    width: 100%;
    height: auto;
    display: flex;
    align-content: center;
    text-align: center;
  }

  a:focus,
  button:focus {
    outline: none;
    border-radius: 1px;
    box-shadow: var(--background) 0px 0px 0px 2px, var(--text) 0px 0px 0px 3px;
    text-decoration: none;
    svg {
      box-shadow: var(--background) 0px 0px 0px 5px, var(--text) 0px 0px 0px 6px;
      outline: none;
      border-radius: 1px;
    }
  }
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  fill: var(--text);
}

.links {
  padding-top: 24px;
  text-align: center;
}

.link {
  display: inline-block;
  text-transform: uppercase;
  font-size: 15px;
  text-decoration: none;
  font-weight: 500;
  color: white;
  position: relative;
  margin-right: 20px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  font-family: $pitch;
  &:hover {
    color: #3686f7;
  }
}

.link::after {
  content: "·";
  position: absolute;
  right: -15px;
}

.link:last-child::after {
  display: none;
}

.filterButton {
  @media (min-width: $desktop) {
    display: none;
  }
}
